* {
    background: #FFFFFF;
    padding: 0px;
    margin: 0px;
}
#inicio{
    font-family: none;
    text-decoration: none;
    border: none;
    background: #202020;;
    color:white;
    font-size: 50px;
    cursor: pointer;
}
.marvel-l{
    width: 100px;
    height: auto;
  
}
.marvel1{
    background: #202020;
    font-size: none;
    text-decoration: none;
    border: none;
    cursor: pointer;

}

.nav {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-content: center;
    align-content: center;
}

.line {
    display: flex;
    justify-content: center;
    grid-template-columns: auto;
    background:#202020;
    height: 60px;
    font-size: 50px;
    color: white;
    align-items: center;
    
}
.busqueda{
    border-radius: 20px;
    height:30px;
    width: 300px;
    text-align: center;
    
    
}

.logo-name {
    display: flex;
    justify-content: start;
    background:#151515;
    width: auto;
    
}

.marvel {
    width: 150px;
    height: auto;
    margin: 5px;
}

.logo {
    margin-top: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
 
    text-align: center;
    margin-top: 20px;
    gap: 0.5em;
}

.section {
    display: flex;
    flex-direction: column;
    border: 5px solid #615200;
    border-radius: 20px;
    background:#1d1d1d;
    height: 380px;
    color: white;
    width: auto;
    margin-right: 4px;
    margin-left: 4px;
    
}
.section:hover{
    transform: scale(1.1);
    transition: 0.5s;
    border: 5px solid #610000;
    align-content: center;
    
    transition-duration:1s;
}
.foto-cont {
    height: 325px;
    width: 275px;
    margin: 5px auto 0;
    background:#1d1d1d;
}

.foto {
    height: 308px;
    width: 275px;
    border-radius: 5px 5px 0px 0px;
    
}

.info {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 5px;
    border: 1px  #0476f2;
  
    
}

.nombre {
    font-size: 25px;
    background: #151515f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buton-ver {
    font-size: 25px;
    background: #990404;
    width: 50px;
    color: white;
}

.ver {
    font-size: 25px;
    background: #151515f5;
    
}
.logoDc{
    margin-top: 10px;
}


@media screen and (max-width: 1000px){
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
  .section{
    width: 300px;
    transform: scale(0.8);
    margin-right: 1px;
    margin-left: 1px;
  }
  
}
@media screen and (max-width: 800px){
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
  .section{
    width: 300px;
    transform: scale(0.8);
    margin-right: 1px;
    margin-left: 1px;
  }
}
@media screen and (max-width: 600px){
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-content: center;
    }
  .section{
    width: 300px;
    transform: scale(0.8);
    margin-right: 1px;
    margin-left: 1px;
  }
}


.ventana{
    display: none;
   
}


dialog{
    display: none;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.sections{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 10px;
    width: auto
}
.imagenMini img {
    max-width: 100%; 
    height: auto; 
  }
  
.inforS{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    margin-top: 5px;
 
}
.infor{
    font-size: 30px;
}

.cerrar{
    float: right;
    z-index: 9999;
}